<div class="homeContainer">
	<p class = "homeContainerText superLargeText">
		Welcome to SC Market!
	</p>
	<div class="homeContainerLoginBox">
		<p class="largeText centerText">
			Sign In!
		</p>

	
	</div>
</div>