<div class="editUserContainer">
	<p class="largeText centerText">
		Your Account
	</p>
	<div class="editUserCenterContainer">
		<a href="/account/track-postings">
			<button class="editUserButton">Track Postings</button>
		</a>
		<br>

		<a href="/account/view-postings">
			<button class="editUserButton">View/Edit Your Postings</button>
		</a>
	</div>
</div>