<div class="preferenceContainer">
	<p class="largeText centerText">
		Item Preferences!</p>

	<%=form_for current_user, url: {action: "update_prefs"}, :method => :POST do |f| %>
		<p class="mediumText">
			Category:
			</p>
		<%= f.select :category_preference, options_for_select(Category.all.collect {|c| [c.title, c.id]})%>
		<br>
		<p class="mediumText">Price</p>
		<span>$</span><%=f.text_field :price_preference%>
		<br>

	 	<%=f.button "Update" %>
	<% end %>
</div>