.createUserContainer {
	width: 600px;
	border: 1px solid  black;
	display: table;
	padding: 10px;
	margin: auto;
}

.createUserForm {
	width: 100%;
}

.editUserContainer {
	border: 1px solid black;
	display: table;
	padding: 60px;
	margin: auto;
}

.editUserButton {
	width: 200px;
	height: 100px;
	margin: 25px 0;
	text-align: center;	
}

.editUserCenterContainer {
	display: table;
}